[submodule ".registry"]
	path = .registry
	url = https://github.com/cjyetman/universe
	shallow = true
	branch = HEAD
[submodule "network.r2d3"]
	path = network.r2d3
	url = https://github.com/cjyetman/network.r2d3
	shallow = true
	registered = true
[submodule "r2dii.interactive"]
	path = r2dii.interactive
	url = https://github.com/2DegreesInvesting/r2dii.interactive
	shallow = true
	registered = true
[submodule "memberstates"]
	path = memberstates
	url = https://github.com/cjyetman/memberstates
	shallow = true
	registered = true
[submodule "safe.run"]
	path = safe.run
	url = https://github.com/cjyetman/safe.run
	shallow = true
	registered = true
[submodule "chromote"]
	path = chromote
	url = https://github.com/rstudio/chromote
	shallow = true
	registered = false
[submodule "webshot2"]
	path = webshot2
	url = https://github.com/rstudio/webshot2
	shallow = true
	registered = false
